<!DOCTYPE HTML>
<html>
  <head>
    <title>
      Rent-A-Thing
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
  </head>

  <body>
    <div class = "jumbotron">
      <div class = "container">
        <div class ="buttons-top-right" align="right">
          <input type="button" value="Post" >
          <input type="button" value="My Listings" >
        </div>
        <h2>Rent and Booking</h2><br>
        <form action = "/submit">
          <input type="text" name="location" placeholder="Enter the type of item">
          <input type="text" name="item" placeholder="Enter the city or zipcode">
          <input type="submit" value="Submit" class="btn btn-primary">
          
      </div>
    </div>
  </body>
</html>